.history-right-column {
background-color: #fff;
height: 560px;

}

.list-group-item.active {
background-color: #800279;
border-color: #800279;
}

.remove {

    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: beige;
    
}

@media (min-width: 760) and (max-width: 1199) {
   .card .card-horizontal .card-body .channel-img {
    display: block;
    margin-top:10px;

   }
    
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .card .card-horizontal .card-body .channel-img>img {
   
     margin-right:0px !important;   
 
    }
     
   }

   @media (min-width: 400px) {
  .card .card-title {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
}

@media (max-width: 566px) {
    .cardSection 
    {
        padding-right: 15px !important;
        padding-left: 15px;
}
}

